/.vs/
/.vscode/
.cache/
build*/
bin*/
Testing/
CMakeLists.txt.user*
*.autosave
*.creator
*.creator.user*
\#*\#
.\#*
*~
.gdbinit
__pycache__/
/CMakeUserPresets.json
examples/data/fps/systems/
!template/.vscode/
Doxyfile.bak
